{% load static %}

<head>
  <link href="{% static 'croppic.css' %}" rel="stylesheet">
  <style>
    #image-upload {
      width: 500px;
      height: 300px;
      background-color:#888;
      position:relative; /* or fixed or absolute */
      overflow:hidden;
    }
  </style>
</head>

<body>
  
  <section id='cropContainerHeader'>
    <div id='image-upload'></div>
  </section>

  <div id='pic-list'>
    <ul>
      {% for pic in pics %}
      <li><img src="{{ pic.image.url }}"></li>
      {% endfor %}
    </ul>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'croppic.js' %}"></script>
  <script>
  $( function () {  
    var cropperOptions = {
      uploadUrl:'{% url "upload_pic" %}',
      uploadData:{
        "csrfmiddlewaretoken":"{{ csrf_token }}",
      },
      cropUrl:'{% url "crop_pic" %}',
      cropData:{
        "csrfmiddlewaretoken":"{{ csrf_token }}",
      },
    }
    var cropperHeader = new Croppic('image-upload', cropperOptions);
  });
</script>
</body>
